/*
primary-color: #4DC9F9;
secondary-color: #White;
accent1-color: #2654F7;
accent2-color: #603a1d;
*/

/** {
    border: 2px solid black;
}*/

header {
    background-color: rgba(77, 201, 249, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
body {
    font-family: "Times New Roman", Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: #603a1d;
    height: 725px;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;

}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #603a1d;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
nav a:hover {
    background-color: rgba(38, 84, 247, .3);
    color: black;
}
.book, .join {
    background-color: #4DC9F9;
    color: #603a1d;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: rgba(38, 84, 247, .3);
    color: black;
}
.msg {
    background-color: #4DC9F9;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #4DC9F9;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-top: 10px;
    font-family: "courier new";
}
h4 {
    color: rgb(255, 255, 255);
}
.msg h2 {
    color: black;
    font-family: "courier new";
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #603a1d;
    text-decoration: none;
}
footer a:hover {
    Color: black;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #603a1d;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}