/*
#0D1821
#344966
#B4CDED
#F0F4EF
#FCB07E
*/

/* universal */
body {
    margin: 0
}
header {
    background-color: #B4CDED;
    text-align: center;
    padding-bottom: 15px;
}
header h1, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 200px;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 25px 80px;
    font-size: 1.5em;
}
nav a:hover {
    background-color: #344966;
    color: white;
}
#logo {
    width: 5%;
}
footer {
    background-color: #B4CDED;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto 15px;
}
#foot-links {
    display: flex;
    gap: 100px;
}
#foot-links a {
    text-decoration: none;
    color: blue;
}
#foot-links a:hover {
    text-decoration: underline;
}
#form {
    margin-top: 15px;
}


/* index.html */
#main-image {
    background-image: url("../../images/bluecomputerdepth.jpg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-image h1, h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: black 2px;
}
#main-image h1 {
    font-size: 3.5em;
    letter-spacing: 5px;
}
#main-image h2 {
    font-size: 2.5em;
    letter-spacing: 7px;
}
#reports {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ice.html */
#ice {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 1fr 50px 1fr;
    padding: 50px 50px;
    background-color: #344966;
}
#prophet-apostles {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#devo {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#halloween {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#flags {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ice section p, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ice section a:hover {
    text-decoration: underline;
    font-size: 1.05em;
}
#ice section p {
    font-size: 1.2em;
    color: #F0F4EF;
}
#ice section a {
    text-decoration: none;
    color: #FCB07E;
}


/* About Me */
#about {
    display: grid;
    grid-template-columns: 1fr 40%;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */}
#about img {
    grid-column: 2/3;
    /* grid-row: 1/5; */
}
#about ul {
    text-align: center;
    color: #F0F4EF;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#table {
    margin: 0 auto;
    padding-bottom: 20px;
    color: #F0F4EF;
}
#aboutMe  {
    background-color: #344966;
}
#favDevotionals h3 {
    text-align: center;
    color: #F0F4EF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}